@model dynamic

@{
    ViewBag.Title = "Privacy";
    Layout = "_Layout";
}

<h1>Privacy</h1>
<div style="text-align: justify">
    <p>This site was created to help you improve, so we don't collect, store or process any personal information about you.</p>
    <p>We don't collect information about you when you visit our site and we don't use cookies to track your actions. Our site doesn't ask for any of your personal information, including your name, address, email, or phone number.</p>
    <p>We have a list of folders that users can browse on our site, but we don't store any data related to directory content, just directory structure. We keep all of the data that goes through our site secure and ensure that we do not share this information with any third parties without your explicit permission.</p>
    <p>We guarantee that we will comply with all data protection and privacy laws.</p>
</div>